.myModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.myModalContent {
  padding: 25px;
  background: white;
  border-radius: 10px;
  min-width: 250px;
}

.myModalActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
