* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.post-enter {
  opacity: 0;
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms ease-in;
}

.post-exit {
  transform: translateX(0);
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
  opacity: 0;
}

.pagination__wrapper {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.pagination__item {
  transition: all 0.3s ease;
  padding: 8px 12px;
  background-color: transparent;
  border: 1px solid teal;
  cursor: pointer;
}

.pagination__item_active {
  background-color: teal;
  color: white;
}
